<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>ICO Simulator - lose money quicker, feel pain less time</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- Compiled and minified JavaScript -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


</head>

<body class="gradientbackground">
<div class="container contract">
    <div class="row">
        <div class="col s10 shadow gradient1 light-green-text text-accent-2">


            <div class="row dark">
                <div class="col s5 offset-s1">
                    <a href="/" class="brand-logo"></a>
                    <div class="infolabeldark indigo-text text-lighten-4">Dobavitelj</div>
                </div>
                <div class="col s5 right-align">
                    <a href="#help" class="indigo-text text-lighten-4 modal-trigger"><i class="material-icons">info_outline</i></a>&nbsp;&nbsp;
                    <a href="/admin" class="indigo-text text-lighten-4"><i class="material-icons">settings</i></a>
                </div>
            </div>

            <div class="row dark">

                <div class="col s5 offset-s1">

                    <div class="infolabeldark indigo-text text-lighten-4">Vaša identiteta</div>
                    <div class="user chip light-green-text text-accent-2 indigo darken-4">
                        <i class="material-icons" style="font-size:13px;">account_balance_wallet</i>
                        <span class="identification">no id</span>
                    </div>
                    <div class="dividerdark"></div>
                    <div class="infolabeldark indigo-text text-lighten-4">Vaši žetoni</div>
                    <div class="user chip light-green-text text-accent-2 indigo darken-4">
                        <i class="material-icons" style="font-size:13px;">group_work</i>
                        <span id="tokenbalance">0</span>
                    </div>
                </div>

                <div class="col s5 right-align">

                    <div class="infolabeldark indigo-text text-lighten-4">Ethereum omrežje</div>
                    <div class="user chip white-text indigo darken-4">
                        <i class="material-icons" style="font-size:13px;">share</i>
                        <span id="network">no network</span>
                    </div>
                    <div class="dividerdark"></div>
                    <div class="infolabeldark indigo-text text-lighten-4">Zadnji ustvarjeni bloki

                    </div>
                    <div id="lastblocks">
                        <!--<div class="chip light-green-text text-accent-2 indigo darken-4"></div>-->
                        <div class="progress blockprogress indigo darken-4">
                            <div class="indeterminate indigo lighten-2"></div>
                        </div>

                    </div>

                </div>

            </div>

        </div>


        <div class="col s2 shadow gradient1 light-green-text text-accent-2">
            shillbox
        </div>

    </div>
</div>






<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>